* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(163, 163, 117);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket {
    background-color: rgb(43, 92, 43);
    padding: 100px;
    color: white;
}

h1 {
    font-size: 100px;
    font-weight: bold;
}